@model Setting
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form asp-area="Admin" asp-controller="Setting" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.LogoFile" class="form-label">Logo</label>
                    <input class="form-control" asp-for="@Model.LogoFile">
                    <span asp-validation-for="@Model.LogoFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Address1" class="form-label">Address1</label>
                    <input class="form-control" asp-for="@Model.Address1">
                    <span asp-validation-for="@Model.Address1" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Phone1" class="form-label">Phone1</label>
                    <input class="form-control" asp-for="@Model.Phone1">
                    <span asp-validation-for="@Model.Phone1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Email1" class="form-label">Email1</label>
                    <input class="form-control" asp-for="@Model.Email1">
                    <span asp-validation-for="@Model.Email1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label">Description</label>
                    <input class="form-control" asp-for="@Model.Description">
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Address2" class="form-label">Address2</label>
                    <input class="form-control" asp-for="@Model.Address2">
                    <span asp-validation-for="@Model.Address2" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Phone2" class="form-label">Phone2</label>
                    <input class="form-control" asp-for="@Model.Phone2">
                    <span asp-validation-for="@Model.Phone2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Email2" class="form-label">Email2</label>
                    <input class="form-control" asp-for="@Model.Email2">
                    <span asp-validation-for="@Model.Email2" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="Admin" asp-controller="Setting" asp-action="Index">Back to list</a>
            </form>
        </div>
    </div>
</div>


